
.cart__head{
display: flex;
justify-content:center;
align-items: center;
margin-bottom: 30px;

}

.cart_title{
    line-height: 45px;
    font-size: 2.9rem;
    font: 29px 'Noto Sans',sans-serif;
  font-weight: 200;
}
.cart_close{
    font: 14px 'Noto Sans',sans-serif;
    color: #000000;
    padding: 10px 0;
    cursor: pointer;
    margin-left: auto;
    font-weight: 200;
}
.cart_close:hover{
    color: #af0933;
}
.cart__con{
    padding-right: 10px;
    max-height: calc(100% - 7.5rem);
    overflow-y: scroll;
    height: 100%;
}
::-webkit-scrollbar{
    display: block;
    width: 3px;
    height: 3px;
    background-color: #e5e5e5;
}
::-webkit-scrollbar-thumb{
background-color: #242424;
}
.cart__list.count-cart.empty-cart{
padding: 2rem 0;
}
.cart__list{
    margin-bottom: 5.2rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

}
.cart__sub{
    padding: 3rem 0;
    font-size: 1.6rem;
    line-height: 24px;
}
.cart__sub__wrap{
    margin-bottom: 22px;
    font: 16px 'Noto Sans',sans-serif;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.title{
    margin: 0;
    text-align: 0;
}
.price{
    margin-left: auto;
}

.Price-amount.amount span {
    margin-right: 0;
}
 .cart__sub .txt {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}
.cart__sub__btn{
    filter:grayscale(1);
    pointer-events: none;
    width: 100%;
    padding: 5px;
    display: block;
   
    max-width: 100%;
    position: relative;
    background-color: #47474c;
    z-index: 1;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    border: 1px solid #47474c;
    text-decoration: none;
}
.cart__more{
    padding-top: 3rem;
}
.cart__more .txt{
    font: 16px 'Noto Sans',sans-serif;
    line-height: 19px;
}
.cart__item{
    padding: 3rem 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart__info{
    flex-grow: 1;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
}
 a{
    text-decoration: none;
    color: #000000;
}
.cart__more .cart__info .price {
    margin-bottom: 3rem;
}
.cart__more .btn-price{
    display: block;
    width: 17rem;
    max-width: 100%;
    position: relative;
    background-color: #47474c;
    z-index: 1;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
    border: 1px solid #47474c;
    color: #fff;
}
.btn-price:hover{
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    
}

.btn-price::after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s ease;
    z-index: -1;

}
.btn-price:hover::after{
    height: 102%;
}

.cart__more__btn {
    text-align: center;
    padding: 5px;
    width: 100%;
}
.btn-sec{
    background-color: #fff;
    display: block;
    max-width: 100%;
    padding: 5px 52px;
    border: 1px solid #d9d9d9;
    font-size: 1.4rem;
    position: relative;
    text-align: center;
    line-height: 1.5;
   z-index: 1;
}
.btn-sec::after{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: #47474c;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;
   z-index: -1;
}
.btn-sec:hover{
    color: white;
}
.btn-sec:hover::after{
    width: 100%;
   
}





